.stages {
    list-style: none;
    margin: 3rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
    
  }
.stages-title {
    background-color: brown;
    color: beige;
    padding: 25px;
    border-radius: 15px;
    margin: 20px ;
}

.stage-column {
    background-color: aqua;
    border-color: black;
    border-radius: 5px;
}

.item {
    background-color: green;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}